.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.form-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 20.5rem;
}
/* .form-box label{
} */

.form-box input {
  margin-left: 1rem;
  line-height: 1rem;
  height: 1rem;
}
.input-lg {
  width: 16.85rem;
}

.submit-btn {
  width: 3rem;
  margin-left: 9rem;
  margin-top: 1rem;
}

.filter {
  width: 40vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.result {
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
}

.select {
  border: 1px solid black;
  display: inline-block;
  width: 4rem;
  position: relative;
  height: 1.5rem;
}
.first {
  border: 1px solid black;
  position: absolute;
  width: 4rem;
  background-color: white;
  height: 1.5rem;
}
.second {
  border: 1px solid black;
  position: absolute;
  margin-top: 1.5rem;
  width: 4rem;
  background-color: white;
  height: 1.5rem;
}
.third {
  border: 1px solid black;
  position: absolute;
  margin-top: 3rem;
  width: 4rem;
  background-color: white;
  height: 1.5rem;
}
.type {
  display: flex;
}
.drop-input {
  margin-left: 1rem;
}

.item-data {
  display: flex;
}
